/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .nav-search {
    display:none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .nav-search {
    display:inline-table;
  }

  .navbar-collapse > ul > li > a {
  padding-left: 12px;
  padding-right: 12px;
  }

  header.carousel {
        height: 470px;
  }

  body {
    font-size: 16px;
  }

  .cms-container {
    font-size: 17px;
  }

  .jumbotron-paragraph {
    font-size: 17px !important;
  }

  .article-content {
    font-size: 17px;
  }
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .nav-search {
    display:none;
  }
  .navbar-collapse > ul > li > a {
  padding-left: 7px;
  padding-right: 7px;
  }

  header.carousel {
        height: 450px;
  }

  body {
    font-size: 16px;
  }

  .cms-container {
    font-size: 17px;
  }

  .jumbotron-paragraph {
    font-size: 17px !important;
  }

  .article-content {
    font-size: 17px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  header.carousel {
        height: 350px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  header.carousel {
        height: 350px;
    }
  .jumbotron {
    padding-right:  20px;
    padding-left:  20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  header.carousel {
        height: 350px;
    }

  .jumbotron {
    padding-right:  13px;
    padding-left:  13px;
  }

  body {
    font-size: 14px;
  }

  .cms-container {
    font-size: 14px;
  }

  .jumbotron-paragraph {
    font-size: 14px !important;
  }

  .article-content {
    font-size: 14px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  header.carousel {
        height: 300px;
    }

  .jumbotron {
    padding-right: 9px;
    padding-left: 9px;
  }

  .page-content {
    padding-right: 9px;
    padding-left: 9px;
  }
}

@font-face {
  font-family: "CoreSans";
  src: url("../fonts/CoreSans.otf");
}

@font-face {
  font-family: "CoreSansItalic";
  src: url("../fonts/CoreSansItalic.otf");
}

@font-face {
  font-family: "CoreSansBold";
  src: url("../fonts/CoreSansBold.otf");
}

/*================ My Styles ==================*/
.background-image-placeholder {
    background-size: 100% 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 70px;
  padding-top: 50px; 
  background: #EDEDED url(../images/texture5.jpg) repeat;
  min-width: 320px;
  font-family: "CoreSans";
}

table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}

.p {
  line-height: 1.7;
}

a {
  color: #555;
}

a:hover {
  color: #000;
}

a:active,
a:focus {
  color: #000;
  text-decoration: none;
}

body > .head {
  width: 100%;
}

.wrapper
{
  padding: 20px;
}


.clr {
  clear: both;
}

.logo-title {
  font-size: 15px;
  color: #AAA;
  font-style: italic;
  margin: 9px 0 0 ; 
}

.page-title {
  text-align: center;
  margin:15px 0 20px 0;
}

.logo {
  font-size: 35px;
}

nav {
  box-shadow: 0 0 8px 4px #222;
}

.navbar-collapse > ul > li > a {
  color:#CFCFCF !important;
  font-weight: 700 !important;
}

.navbar-collapse > ul > li > a:hover {
  color:#EFEFEF !important;
}

.logo {
  height: 45px;
  opacity: 0.9;
}


.logo {
  margin-top: -12px;
  padding: 0;
}

.header-search {
  opacity: 0.85;
}

.user-avatar-nav {
  height: 22px;
  opacity: 0.9;
}



#cont {
  padding: 25px 0 0 0;
}

body > footer {
  padding: 20px 0;
  background: #222;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  height: 70px;
  box-shadow: 0 0 5px 3px #444;
}

footer * {
  color: #CDCDCD;
}

footer p {
  line-height: 1.3;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer .social-link-footer * {
  font-size: 40px;
  color: #CDCDCD;
}

footer a:hover,
footer .social-link-footer:hover * {
  color: #EDEDED;
  text-decoration: none;
}

.icon-bar-footer {
  padding-left: 30px;
  margin-top: -4px;
  min-width: 240px !important;
}

.modal-header h3 span {
  font-size: 20px;
}

.button-fl-right {
  float:right;
}

.page-content {
  padding: 25px 30px 40px 30px;
  box-shadow: 1px 2px 4px 1px #ddd;
}

.breadcrumb {
  background-color: #fff;
  border:1px solid #dadada;
}

.breadcrumb a {
  color: #333;
}

.clear-margin {
  margin-left: 0;
  margin-right: 0;
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

.pagination a {
  color: #333 !important; 
}

.pagination .disabled a {
  color: #aaa !important; 

}

.pagination .active a {
  color: #fff !important; 
  background-color: #333;
  border-color: #333;
}

.pagination .active a:hover {
  background-color: #333;
  border-color: #333;
}

.page-header {
  margin-top: 15px;
}

.fullwidth-align {
  text-align: justify;
}

/* About Lectors */
.lectors-page {
  padding-bottom:30px;
}

.lectors-page h2 {
  margin: 40px 0;
  text-align: center; 
}

.lector-tab {
  padding:0 10px;
}

.lector {
  color: #444;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.lector-short-header {
  margin-bottom:15px;
  margin-top: 10px;
}

.lector-short-header small {
  font-size: 13px;
}

.lector * {
  color: #555;
  text-decoration: none;
}

.lector p {
  text-align: justify;
}

.lector-button {
  padding:5px 20px;
}

.lector:hover * {
  color: #111;
  text-decoration: none;
}

.lector:hover,
.lector:focus {
  border: 1px solid #CCC;
  box-shadow: 0 0 2px 1px #CCC;
}

.about-lector-content p {
  text-align: justify;
}

.about-lector-content h3 {
  font-size: 21px;
}

.image-border {
  padding: 5px;
  margin: 0 20px 10px 0; 
  border: 1px solid #DDD;
  background: #F5F5F5;
  border-radius: 4px;
  float: left;
  box-shadow: 1px 1px 2px 0 #DDD;
}
/* /About Lectors */

/* Contacts page */
.cont-us-button {
  margin: 30px 0 40px -15px;
}

.button-fl-center {
}

.modal-feedback {
  padding: 10px 0;
}

.modal-feedback h4 {
  line-height: 1.3;
}

.modal-feedback .row {
  padding: 8px 0;
}

textarea {
  resize:none;
}

.contacts-page h4 {
  padding-top: 15px;
}

.social-links-bar {
  height:40px;
  margin: 10px 0 0;
  padding: 0 0 10px 0;
}

.social-link * {
  color: #555;
  font-size: 40px;
}

.social-link:hover * {
  color: #000;
  text-decoration: none;
}

.modal-success {
  top: 40%;
}

.modal-success h3 {
  padding-bottom: 10px;
}
/* /Contacts page */


/* blog */
.blog-categories a {
  font-size: 16px;
}

.blog-categories i {
  padding: 6px 5px 0 14px;
}
/* /blog */

/* login and registration */
.form-bottom {
  padding-bottom: 25px;
}

.small-tip {
  color: #888;
  font-style: italic;
}
/* /login and registration */


/* CMS */
.author-link {
  font-style: italic;
}
/* /CMS */

/* Home Page */
.home-page-container {
  padding-top: 25px;
  padding-bottom: 40px;
}

.last-news-heading {
  line-height: 1.3;
}

.button-mg-bottom {
  margin-bottom: 10px;
}

.jumbotron-header {
  font-size: 37px !important;
}

.jumbotron-white {
  background-color: #FFF !important;
  border: 1px solid #ddd;
}
/* /Home Page */

/* Home Page Carousel */
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
/* /Home Page Carousel */

.nav-search input,
.nav-search span {
  display: inline;
}

.social-widgets {
  padding-left: 17px;
}

.navbar-collapse > ul > li > ul > li.active > a {
  background-color: #bbb !important;
}

.wrapper-contant {
  padding: 0;
  margin: 0;
}

.last-news {
  padding: 20px;
}

.last-news > ul{
  padding: 0 16px;
}

nav.navbar {
  height: 50px;
  min-width: 320px;
  font-size: 14px;
}

.pager {
  padding-top: -10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top:0;
}

.navbar-collapse {
  background-color: #222222;
}

.hr-divider {
  border-bottom: 1px solid #EEEEEE;
  padding: 0;
  height: 0;
  margin: 25px 0;
}

.control-label {
  color: #656565;
}

.social-link {
  font-size: 40px;
}

.lector-model .summary,
.lectors-page .summary,
.lectors-list .summary {
  display: none;
}

.cms-container  {
  line-height: 1.7;
}

.cms-container p {
  text-align: justify;
}

.cms-container > p {
  text-indent: 20px;
}

.cms-container p,
.cms-container ul,
.cms-container ol {
  margin-bottom: 16px;
  margin-top: 4px;
}

.publication-point {
  margin: 10px 0;
}

.sc-activity-point {
  margin: 4px 0;
}

.thumbnail-form {
  padding: 20px 10px 25px ;
}

.thumbnail-feedback {
  padding: 15px 0 ;
}

.feedback-form-header {
  padding: 20px 35px;
}

.pager-slick-slider {
  margin: -15px 25px 25px 20px;
}

.go-to-all-news {
  text-align: right;
  margin-top: -5px;
  padding: 0 60px 10px 0;
  font-size: 17px;
  font-family: CoreSansItalic;
}

.flash-outer {
  position: fixed;
  right: 15px;
  top: 72px;
  opacity: 0.7;
  z-index: 9999;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

.flash-outer:hover {
  opacity: 1;
}

.alert-own {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

.user-avatar-nav {
  margin-bottom: -5px;
}

.navbar-inverse {
  border: none;
}

.slick-initialized .slick-slide {
  outline: none;
}