html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.categories-tree {
    font-size: 25px;
    margin-top: 30px;
}

.categories-tree p {
    color: #337CBC;
    margin-bottom: 0;
    padding-bottom: 0;
}

.categories-tree > ol {
    border-left: 3px solid #999999;
    padding-left: 20px;
    margin: 8px 0 8px 10px;
    list-style-type: none;
}

.categories-tree ol ol {
    border-left: 3px solid #BBBBBB;
    padding-left: 25px;
    margin: 8px 0 8px 10px;
    list-style-type: none;
}

.flash-outer {
    position: fixed;
    right: 15px;
    top: 72px;
    opacity: 0.7;
    z-index: 9999;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.flash-outer:hover {
    opacity: 1;
}

.multiselect-cont {
    padding: 0 0 20px 0;
}

.multiselect-cont label {
    display: block;
    padding: 0 0 3px 0;
}

.multiselect-cont .dropdown-menu > li > a {
    padding: 5px 37px;
}

.alert-own {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

.dashboard-item {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.dashboard-container {
    padding: 30px 0;
    background: #EDEDED url(../../../frontend/web/images/texture5.jpg) repeat;
}